{
    "client_id": "foo",
    "client_secret": "bar",
    "env": "sandbox",
    "login_version": "login.hml",
    "protocol": "http",
    "sslVersion": "SecureTransport",
    "registerPath": false,
    "redirect_url": "http://www.example.com/notify/stelo/"
}
